<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lottogame - Tomasz Wodziński</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header th:replace="~{fragments.html :: header}"></header>
<nav th:replace="~{fragments.html :: nav}"></nav>
<main>
    <section class="section-content">
        <h2>Data najbliższnego losowania</h2>
        <div th:text="${#temporals.format(drawDate, 'dd-MM-yyyy HH:mm')}"></div>
    </section>
    <section class="section-content">
        <h2>Kontakt</h2>
        <p>W przypadku pytań proszę o kontakt:</p>
        <p> twodzinski@op.pl</p>
    </section>
</main>
<footer th:replace="~{fragments.html :: footer}"></footer>
</body>
</html>